@import "~normalize.css";

* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.container {
    max-width: 992px;
    width: 95%;
    margin: 0 auto;
    padding: 0 16px;
}

img {
    max-width: 100%;
}